%div{:style => "background-image: url(#{message.image});"}
  = simple_format(message.text)
  %span.name
    %span
/
  メッセージ部分？
  \/ - @messages.each do |message|
  \/ == render partial: 'message', locals {message: message
  \/ yeildの部分
  \/ %input{:type =>"submit",:value => "SENT"}
