.form
  .new_message
    = form_tag("messages",method: :post) do
      .input_box
        %input.input_box_text{:name => "text", :placeholder => "type a message", :type => "text"}
        %label.input_box_image{:for => "message_image"}
          %i.far.fa-image
          %input.input-box__image__file{:name => "message[image]", :type => "file"}
        %input.submit-btn{"data-disable-with" => "Send", :type => "submit", :value => "Send"}

