.wrapper

  = render'shared/side_bar'
  .chat-main
    .main-header
      .main-header__box mainheader
      %input.edit-btn{"data-disable-with" => "Send", :type => "submit", :value => "Edit"}
    .message message
    .form
