@import  "./reset";
@import "./variable";
@import ".user";
.all{
  height:100vh;
}
.flash-box{
  background-color: $mainBlueColor;
  text-align: center;
  height: 24px;
  width: 100%;
}
.chat-side {
  color:$fontcolor;
  float:left;
  width:300px;
  .side-header{
    padding: 0 20px;
    background-color: #253141;
    height:100px;
    display:flex;
    align-items: center;
    .side-header_box{
      display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    .icons{
      float:right;
    }
  }
  }
  .group{
    height:calc(100vh - 100px);
    padding: 20px 20px 0;
    background-color: #2f3e51;
    overflow:scroll;
  }
  .header__icons{
    float:right;
  }
}

.chat-main{
  width:calc(100vw - 300px);
  float:right;
  .main-header{
    padding: 0 40px;
    justify-content: space-between;
    border-bottom:solid 1px #eee;
    height:100px;
    .edit-btn{
       border: 1px solid #38aef0;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      color: $mainBlueColor;
    }
  }
   .message{
    background-color: #FAFAFA;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding: 46px 40px 0;
    box-sizing: border-box;
  }
  .message-box {
    padding-bottom: 40px;
    background-color:#fafafa;
    .name {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      margin-right: 10px;
      display: inline-block;
      float: left;
    }
    .time {
      font-size: 12px;
      color: #999;
    }
    .text {
      clear: both;
      font-size: 14px;
      color: #434A54;
    }
  }

  .form{
    height:70px;
    padding: 20px 40px;
    background-color: #ddd;
      .input_box{
        &__text{
          width:calc(100% - 200px);
          height: 50px;
          padding: 0px 30px 0px 10px;
          color: #434a54;
          border-style: none;
        }
        &__image{
          font-size: 1.3rem;
          cursor: pointer;
          position: absolute;
          bottom:0;
          right:230px;
          .i.far.fa-image{
        }
      }
      .submit-btn {
        width:100px;
        height:50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        float:right;
      }
    }
  }
}
