@import  "./reset";
@import "./variable";

.header{
  background-color: $mainBlueColor;
}
.chat-side {
  float:left;
  height:100vh;
  width:300px;
  .side-header{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #253141;
    height:100px
  }
  .group{
    height:100vh;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2f3e51;
    overflow:hidden;

  }
}

.chat-main{
  overflow:hidden;
  .main-header{
    margin-top:35px;
    height:100px
  }
  .message{

    padding-top:46px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fafafa;
  }
  .form{
    background-color: blue;
  }
}





