.all {
  height: 100%;
}
.notice {
  background: $button-color;
  height: 24px;
  width: 100%;
  text-align: center;
  color: $textcolor-w;
}
.side-bar {
  margin: 0;
  padding: 0;
  float: left;
  & header {
    width: 260px;
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    line-height: 100px;
    color: $textcolor-w;
    & h3 {
      display: inline-block;
      font-weight: bold;
      font-size: 16px;
    }
    .header__icons {
      float: right;
    }
  }
      .group {
        height: calc(100vh - 120px);
        width: 260px;
        background-color: #2f3e51;
        color: $textcolor-w;
        padding: 20px 20px 0 20px;
        &__name {
          margin-bottom: 5px;
          font-size: 15px;
        }
        &__message {
          margin-bottom: 40px;
          font-size: 11px;
          &__sample {
            color: $textcolor-w;
      }
    }
  }
}
//右側全体
.chat {
  width: calc(100vw - 300px);
  background-color: $textcolor-w;
  float: right;
  height: 100vh;
//グループ
  .group-header {
    height: 100px;
    padding: 0 40px;
    &__samary {
      width: auto;
      margin-top: 35px;
      display: inline-block;
      font-size:  20px;
      color: #333;
    }
    &__name {
      color: #999999;
      font-size: 12px;
      margin-top: 15px;
      ul {
        margin: 0;
      }
        li {
          display: inline-block;
          margin-right: 5px;
        }
    }
    .edit-btn{
      border: 1px solid #38aef0;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
    }
  }
  // ここからメッセージエリア
   .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    overflow: scroll;
    .message {
      margin-bottom:40px;
      .upper-message {
        display: flex;
        &__user-name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $black;
          font-size: 14px;
        }
      }
    }
  }
  // ここから投稿form
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .form__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    .form__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
